<div class="top-content">
  <div class="navbar-container">
    <div class="left-side">
      <div class="logo">
        <a class="title" routerLink="/">
          <p>SS&C</p>
        </a>
      </div>

      <div class="list-menu">
        <a class="list-menu-item">
          <p>Inbox</p>
        </a>

        <a class="list-menu-item">
          <p>Field</p>
        </a>

        <a class="list-menu-item">
          <p>Templates</p>
        </a>

        <a class="list-menu-item">
          <p>Sorting</p>
        </a>

        <a class="list-menu-item">
          <p>Data</p>
        </a>
      </div>
    </div>

    <div class="right-side">
      <div class="user-setting">Teerapat Saiprom</div>

      <div class="user-setting">
        <i class="bi bi-gear"></i>
      </div>
    </div>
  </div>
</div>
