.btn{ 

    border-radius: 8px; 

    background: #eeeeee; 

    border-color: #196e99; 

    height: 34px; 

    display: flex; 

    justify-content: center; 

    align-items: center; 

} 

 
 

.btm:hover{ 

    background: #4a4a4a; 

     

} 